version: '3.8'

services:
  go:
    build:
      context: .
    volumes:
      - .:/work
    working_dir: /work
    environment:
      - BUILDKITE_TAG
      - GITHUB_TOKEN

  lint:
    image: buildkite/plugin-linter
    command: [ '--id', 'buildkite/ecr-scan-results' ]
    volumes:
      - ".:/plugin:ro"

  tests:
    image: buildkite/plugin-tester:v4.1.1
    volumes:
      - ".:/plugin"
